<!-- <div id="disqus_thread"></div>
<script>
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://lilianweng-github-io-lil-log.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript> -->

<div id="gitalk-container"></div>
<script>
    var title = location.pathname.substr(0, 50);
    var gitalk = new Gitalk({
        clientID: 'c9fdca95c5313f96d008',
        clientSecret: '1b231a749b4dbfe7aa8e4bc26063957eda6465d7',
        repo: 'zjblog',
        owner: 'Theigrams',
        admin: ['Theigrams'],
        id: title,
        distractionFreeMode: false // 无干扰模式
    })
    gitalk.render('gitalk-container')
</script>